git+https://github.com/equipe22/pymedext_core.git@v0.1#egg=pymedextcore
flashtext
pandas
sentencepiece==0.1.91
unidecode
numpy
nltk
torch==1.7.0
flair
sklearn
rdflib>=4.2.2
spacy
flask
blist
uvicorn
quickumls
ray==1.1.0
pydantic==1.6
logzero
gitpython
PyRuSH
typing_extensions
