git+git://github.com/equipe22/pymedext_core.git@master#egg=pymedextcore
flashtext
pandas
sentencepiece
unidecode
numpy
nltk
torch
flair
sklearn
rdflib>=4.2.2
spacy
flask
blist
uvicorn
quickumls
ray
pydantic